.App {
  text-align: center;
}

.App-header {
  background-color: rgba(194, 130, 133, 0.9);
  height: 75px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 2em;
  font-weight: bolder;
}

.App-intro {
  font-size: large;
}

/* *** Sidebar *** */
#sidebar {
  background-color: rgba(190, 130, 133, 0.75);
  width: 320px;
  height: calc(100vh - 95px);
  position: absolute;
  align-content: center;
  display: block;
  border: none;
}
.infoBtn {
  width: 80px;
  height: 30px;
  font-size: 1em;
  font-weight: bolder;
  text-transform: full-width;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(130, 194, 191);
  border: solid 1px rgb(96, 157, 154);
}
.input {
  width: 90%;
  font-size: 1.1em;

}
.location-info {
  width: 300px;
  height: 200px;
  max-width: 90%;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 10px;
  padding: 2px;
  font-size: 1em;
}
.select {
  width: 90%;
  background-color: rgb(255, 255, 255);
  font-size: 1em;
  margin-top: 10px;
}
hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(130, 194, 191), rgba(0, 0, 0, 0));
}
