.App {
  text-align: center;
}

.App-header {
  background-color: rgba(194, 130, 133, 0.9);
  height: 75px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

#sidebar {
  background-color: red;
  width: 320px;
  height: calc(100vh - 95px);
  position: absolute;
}
