img, embed, object, video {
  max-width: 100%;
}

/* *** Sidebar *** */
#sidebar {
  z-index: 100;
  max-width: 100%;
  overflow-y: scroll;
}
.locations-list-container {
  display: flex;
  flex-wrap: wrap;
}
.locations-list {
  width: 100%;
}

@media screen and (max-width: 375px) {
  .App-title {
    padding-left: 1.7em;
    font-size: 1.7em;
  }
  .hamburger-open, .hamburger-close {
    font-size: 2.5em;
    padding: 8px 15px 0px 15px;
  }
  .visible {
    visibility: visible;
    opacity: 1;
    animation-name: fadeInOpacity;
  	animation-iteration-count: 1;
  	animation-timing-function: ease-in;
  	animation-duration: 1.5s;
  }
  @keyframes fadeInOpacity {
  	0% {
  		opacity: 0;
  	}
  	100% {
  		opacity: 1;
  	}
  }
}

@media screen and (min-width: 376px) and (max-width: 450px) {
  .App-title {
    padding-left: 2em;
  }
  .hamburger-open, .hamburger-close {
    font-size: 2.8em;
    padding: 6px 15px 0px 15px;
  }
  .visible {
    visibility: visible;
    opacity: 1;
    animation-name: fadeInOpacity;
  	animation-iteration-count: 1;
  	animation-timing-function: ease-in;
  	animation-duration: 1.5s;
  }
  @keyframes fadeInOpacity {
  	0% {
  		opacity: 0;
  	}
  	100% {
  		opacity: 1;
  	}
  }
}

@media screen and (min-width: 451px) and (max-width: 650px) {
  .App-title {
  }
  .visible {
    visibility: visible;
    opacity: 1;
    animation-name: fadeInOpacity;
  	animation-iteration-count: 1;
  	animation-timing-function: ease-in;
  	animation-duration: 1.5s;
  }
  @keyframes fadeInOpacity {
  	0% {
  		opacity: 0;
  	}
  	100% {
  		opacity: 1;
  	}
  }
}

@media screen and (min-width: 651px) {
  .hamburger-open, .hamburger-close {
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms linear 500ms, opacity 300ms;
    -webkit-transition: visibility 300ms linear 500ms, opacity 300ms; /* Safari */
    -ms-transition: visibility 300ms linear 500ms, opacity 300ms; /* IE 9 */
  }
  .sidebar-show-big {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease; /* Safari */
    -ms-transition: transform 0.3s ease; /* IE 9 */
  }
}
